*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nlo
*.out
*.synctex.gz
amise_derivation_only.pdf
cross_validation_only.pdf
outline_only.pdf
scanstatistics_article.pdf
thesis.pdf
results_only.pdf
thesis.ilg
thesis.lof
thesis.lot
thesis.nls
thesis.pdfsync
thesis.toc
appendix_tables_only.pdf
.Rhistory
.RData
thesis.acn
thesis.acr
thesis.alg
thesis.glg
thesis.glo
thesis.gls
thesis.ist
thesis.nlg
thesis.not
thesis.ntn
