scanstatistics_article.pdf
outline.aux
outline_only.aux
outline_only.bbl
outline_only.blg
outline_only.fdb_latexmk
outline_only.fls
outline_only.log
outline_only.out
outline_only.pdf
outline_only.synctex.gz
scanstatistics_article.aux
scanstatistics_article.bbl
scanstatistics_article.blg
scanstatistics_article.fdb_latexmk
scanstatistics_article.fls
scanstatistics_article.log
scanstatistics_article.out
scanstatistics_article.synctex.gz
thesis.aux
thesis.fdb_latexmk
thesis.fls
thesis.ilg
thesis.lof
thesis.log
thesis.lot
thesis.nlo
thesis.nls
thesis.out
thesis.pdf
thesis.pdfsync
thesis.synctex.gz
thesis.toc
